<?xml version="1.0"?>

<!-- Example blccc config (BNF, Paris, France) -->

<blccc>
  <config>

    <param key="width"        value="26"/>
    <param key="height"       value="20"/>
    <param key="aspect"       value="0.5"/>
    <param key="playlist"     value="playlist.default.xml"/>
    <param key="logfile"      value="/var/tmp/blccc.log"/>
    <param key="recipient"    value="localhost"/>
    <param key="isdn-host"    value="10.0.1.98"/>
    <param key="isdn-port"    value="1234"/>
    <param key="isdn-listen"  value="1234"/>

    <application name="Pong" type="BPong"
                 number="9876564" public="yes" wamp="telekoma.alaw"> 
      <param key="lifetime" value="120000"/>
    </application>
    
    <application name="Loveletters" type="BlOnDemand"
                 number="9876569" public="yes" wamp="telekoma.alaw"> 
      <param key="loveletters" value="loveletters.xml"/>
      <param key="lifetime"    value="24000"/>
    </application>

  </config>
</blccc>
